html {
    height: 100%;
  }
.appContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    color: white;
     }
.appContainer  .container {
    display: flex;
        border-radius: 1.5rem;
        width: 100%;
        text-align: center;
        justify-content: center;
        justify-content: center;
        margin: 0 auto;
        box-shadow: 0px 5px 5px 5px #06f0f8;
        background-color: rgba(0,0,0,.5);
        color: #fff;
    }
    .title {
        font-weight: bold;
        text-align: center;
    }
   .appContainer .inputWrapper {
    align-items: center;
    justify-content: center;
    }

    .appContainer .inputField{
        border: none;
        width: 72%;
        border-radius: 4px;
        box-shadow: 0 10px 15px 15px rgba(0,0,0,0.1);
        margin-bottom: 20px;
        height: 50px;
        background-color: rgba(208, 201, 201, 0.226);
        color: white;
    }
    .inputField:first-of-type{
        margin-top: 20px;
    }

    .appContainer .submitButton {
        border-radius: 4px;
        height: 40px;
        width: 70px;
        color: #000000;
        margin: 0 10px 15px 15px;
        border: 'none';
        background-color: #06f0f8;
        box-shadow: 0px 5px 5px 0px #ECDBBA;
    }

    .message{
        border-radius: 5px;
        border: #fff;
        background-color: rgb(40, 125, 31);
        margin-top: 30px;
    }

    .message h1{
        font-size: 20px;
        text-align: center;
    }

    .container .subButton {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #06f0f8;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin: 10px;
        letter-spacing: 4px;
      }
      
      .container .subButton:hover {
        background: #06f0f8;
        color: #000;
        border-radius: 4px;
        box-shadow: 0 0 5px #06f0f8,
          0 0 25px #06f0f8,
          0 0 50px #06f0f8,
          0 0 100px #06f0f8
      }
      
      .container .subButton span {
        position: absolute;
        display: block;
      }
      
      .container .subButton span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #06f0f8);
        animation: btn-anim1 1s linear infinite;
      }
      
      @keyframes btn-anim1 {
        0% {
          left: -100%;
        }
      
        50%,
        100% {
          left: 100%;
        }
      }
      
      .container .subButton span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(100deg, transparent, #06f0f8);
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s;
      }
      
      @keyframes btn-anim2 {
        0% {
          top: -100%;
        }
      
        50%,
        100% {
          top: 100%;
        }
      }
      
      .container .subButton span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #06f0f8);
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s;
      }
      
      @keyframes btn-anim3 {
        0% {
          right: -100%;
        }
      
        50%,
        100% {
          right: 100%;
        }
      }
      
      .container .subButton span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #06f0f8);
        animation: btn-anim4 1s linear infinite;
        animation-delay: .75s;
      }
      
      @keyframes btn-anim4 {
        0% {
          bottom: -100%;
        }
      
        50%,
        100% {
          bottom: 100%;
        }
      }
    /*
    inputWrapper: {
        alignItems: 'center',
        justifyContent: 'center'
    },
    separator:{
        color: "black",
        height: "0.01mm",
        width: '78%',
        marginBottom: 15
    },
    navbar: {
        listStyleType: 'none',
        margin: 0,
        padding: 0
    },
    lst: {
        display: 'inline',
        float: 'left'
    },
    reflinks: {
        display: 'block',
        padding: '8px',
        backgroundColor: '#dddddd'
    }
}

export default styles */